/* CSS Custom Properties Definitions */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

#top-header {
  border: none;
  box-shadow: none;
  /* transition: background 0.7s ease-out; */
  background: transparent;
  position: fixed;
  z-index: 1030;
  @apply text-white;
  width: 100vw;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  /* will-change: opacity; */
}

header#top-header.header-transparent {
  background-color: #000;
}

.full-width-image {
  width: 100vw;
  height: 450px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
